# This is a basic workflow to help you get started with Actions

name: Cloudflare Build and Deploy Workers

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2.3.4

    - name: Navigate to repo
      run: cd $GITHUB_WORKSPACE

    - name: Navigate to repo
      run: cd $GITHUB_WORKSPACE
    - uses: actions/setup-node@v2.2.0
      with:
        node-version: '10.x'
    - name: Install deps
      run: npm install
    - name: Install Wrangler
      run: npm i @cloudflare/wrangler@1.8.4 -g
    - name: Install Workers script deps
      run: npm install
    - name: Build Workers script
      run: wrangler build
    - name: Wrangler auth check
      run: wrangler whoami
      env:
        CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
        CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
    - name: Upload assets
      run: wrangler publish
      env:
        CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
        CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
